body{
    padding: 0;
    margin: 0;
}
.wrapper-quest{
    max-width: 800px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.wrapper-word{
    max-width: 400px;
    border: 0px;
}
.letter{
    width: 30px;
    margin-bottom: 5px;
    text-align: center;
}