body{
    padding: 0;
    margin: 0;
    background: #efeff1;
}

.wrapper-contaner{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

.container > div{
    background: white;
    margin: 0 auto;
    margin-bottom: 5px;
}

.wrapper-quest{
    max-width: 800px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.wrapper-word{
    max-width: 400px;
}

.letter{
    width: 40px;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid grey;
}

.wrapper-wrong{
    margin: 0;
    position: absolute;
    max-width: 50px;
    right: 0px;
    top: 0;
}

.wrong-number{margin: 0;}
.wrapper-wrong > p {margin: 0;}

.button{
    width: 44px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid grey;
}
.wrapper-letter{
    height: 70px;
}
.container-letter{
    position: relative;
}

.full-answer-container{
    top: 0;
    position: absolute;
    float: left;
}
.full-answer{
    width: 150px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid grey;
}
.add-full{
    width: 55px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid grey;
}